<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Appender pour écrire dans un fichier -->
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>-->
    </Appenders>
    <Loggers>
        <!-- Configuration de votre logger -->
<!--        <Logger name="com.example" level="debug" additivity="false">-->
<!--            <AppenderRef ref="FileLogger"/>-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->

        <!-- Logger par défaut -->
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
<!--            <AppenderRef ref="Console"/>-->
        </Root>
    </Loggers>

</Configuration>